<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Braintree Checkout Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" th:href="@{/css/app.css}" />
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}"/>
</head>
<body>
  <div class="wrapper">
      <header>
        <h1>Payment successful! </h1>
        <p>
         <a href="/checkouts">Click here</a> to create another payment.
        </p>
      </header>
      </div>

</body>
</html>